
<div class="form-group">
  <%= form_for :user, url: location_path do |f| %>
    <%= f.label :address, 'please enter your US street address, and either your zip code or city & state.' %>
    <%= f.text_field :address, {:class => "form-control"} %>
    <%= f.submit "who's on my ballot?", {:class => "btn btn-default"} %>
  <% end %>
</div>

<!-- <#%= form_tag(action: "create", method: "post") do %>
  <#%= hidden_field_tag(:id) %>
  <#%= label_tag(:zip, "your zip code") %>
  <#%= text_field_tag(:zip) %>
  <#%= submit_tag("find me") %>
<#% end %> -->