
<%= image_tag("emptyStage.png", class: "stage") %>

<!-- Form adds address to database so SmartyStreets can infer 9-digit zip code -->
<section class="form-group">
  <%= form_for :user, url: location_path do |f| %>
    <%= f.text_field :address, {:placeholder => "Please enter the street address where you are registered to vote.", :class => "form-control left"} %>
    <%= f.submit "Who's On My Ballot?", {:class => "btn btn-default right"} %>
  <% end %>
</section>