
<%= image_tag("emptyStage.png", class: "stage") %>

<!-- Form adds address to database so SmartyStreets can infer 9-digit zip code -->
<section class="form-group">
  <%= form_for :user, url: location_path do |f| %>
    <%= f.text_field :address, {:placeholder => "Please enter the street address where you are registered to vote.", :class => "form-control left"} %>
    <%= f.submit "Who's On My Ballot?", {:class => "btn btn-default right"} %>
  <% end %>
</section>
</br>
<article class="DFW">
  <p>“If you are bored and disgusted by politics and don't bother to vote, you are in effect voting for the entrenched Establishments of the two major parties, who please rest assured are not dumb, and who are keenly aware that it is in their interests to keep you disgusted and bored and cynical and to give you every possible reason to stay at home doing one-hitters and watching MTV on primary day. By all means stay home if you want, but don't bullshit yourself that you're not voting. In reality, there is no such thing as not voting: you either vote by voting, or you vote by staying home and tacitly doubling the value of some Diehard's vote.” </p>
  <p> ― David Foster Wallace, "Up, Simba!" (2000)</p>
</article>