
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/**= require_self
*= require_tree .*/

/*Color scheme*/
$reddish: #DD7373;
$bright-white: #FEFFFE;
$light-blue: #AEECEF;
$blue: #388697;
$darkblue: #0f2b36;
$gray: #D8E2DC;

header {
  font-weight: bold;
  width: 100%;
  // height: 110px;
  background-color: #D8E2DC;
  position: absolute;
  top: 0;
  left: 0;
  clear: both;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 4px double $darkblue;
  line-height: 40px;
  vertical-align: center;
  text-align: right;
  width: 100%;
  height: 40px;
  background-color: #D8E2DC;
  h5 {
    padding-right: 10px;
    a {
      font-weight: bold;
      color: inherit; 
    }
  }
}
h1 small {
  border-top: 1px solid $reddish;
}
h2 small {
  white-space: nowrap;
}
img.stage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Set up fadedness */
  z-index: -1;
  opacity: 0.8;
}
.stage {
  width: 100%;
}
/*Customized Scaffolding*/
$text-color: #388697;
$body-bg: #D8E2DC;
$link-hover-decoration: none;
$link-color: #DD7373;

.left {
  float: left;
}
.right {
  float: right;
}
.navbar-right {
  padding-right: 20px;
}
ul li {
  list-style: none;
}
/*Forms*/
.form-group {
  width: 55%;
  margin: 160px auto;
  font-family: 'Gruppo', Helvetica, sans-serif;
  font-weight: bold;
  z-index: 3;
}
input.form-control {
  width: 75%;
}
$input-bg: #FEFFFE;
$input-border-focus: #DD7373;

/*Buttons*/
$btn-default-color: #DD7373;
.btn {
  height: 33.99px;
}

article {
  font-size: 1.3em;
  vertical-align: center;
  color: $darkblue;
}
////////////////////////////////////////////////////////////////////////////////////////////////
/* Cleanliness is next to Godliness: Bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";
////////////////////////////////////////////////////////////////////////////////////////////////

body {
  width: 100%;
  font-family: 'Gruppo', Helvetica, sans-serif;
  background-color: $bright-white;
}
article.DFW {
  width: 60%;
  border: 1px solid $reddish;
  margin: 75px auto;
  background-color: rgba(68.2, 92.5, 93.7, 0.8);
  p {
    padding: 10px;
    color: $bright-white;
  }
}
h1 {
  padding: 5px 0 5px 10px;
  width: 40%;
  margin-bottom: -35px;
}
h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 small {
  margin-top: 0;
  margin-bottom: 0;
}
nav {
  padding-top: 0;
}
.nav-tabs {
  border-radius: 0;
}
/*Customized Carousel*/
#localCarousel{
  margin-top: 110px;
}
#stateCarousel {
  margin-top: 110px;
}
#federalCarousel {
  margin-top: 110px;
  margin-bottom: 50px;
}
.carousel {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-top: 4px double $blue;
  // margin-top: 110px;
  // margin-bottom: 50px;
}
.carousel-inner {
  overflow: visible;
}
.carousel-control {
  height: 212.72px;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(56, 134, 151, .5) 0%), color-stop(rgba(56, 134, 151, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(56, 134, 151, .5) 0%, rgba(56, 134, 151, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  line-height: 212.72px;
  font-size: 100px;
  vertical-align: center;
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(56, 134, 151, .0001) 0%), color-stop(rgba(56, 134, 151, .5) 100%));
  background-image:         linear-gradient(to right, rgba(56, 134, 151, .0001) 0%, rgba(56, 134, 151, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
  line-height: 212.72px;
  font-size: 100px;
  vertical-align: center;
}
.candPhoto {
  height: 212.72px;
}
.positions {
  background-color: $darkblue;
  color: $bright-white;
  text-align: right;
  border-top: 4px double $bright-white;
}
.education {
  margin-bottom: 0;
}
.dropdown {
  background-color: $bright-white;
  a {
    color: $blue;
  }
  li {
    padding: 0 3px;
  }
}
.dropdown-menu {
  border-radius: 0;
}