
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/**= require_self
*= require_tree .*/
  
/*$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;*/

/*Color scheme*/
$reddish: #DD7373;
$bright-white: #FEFFFE;
$light-blue: #AEECEF;
$blue: #388697;
$darkblue: #0f2b36;
$gray: #D8E2DC;

@font-face {
  font-family: americanCaptain;
  src: url(font-path('/assets/AmericanCaptain.tff'));
}

header {
  font-family: 'Gruppo', Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  background-color: #D8E2DC;
  position: absolute;
  top: 0;
  left: 0;
}

img.stage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Set up fadedness */
  z-index: -1;
  opacity: 0.3;
}
.stage {
  width: 100%;
}
small {
  border-top: 1px solid $reddish;
}
/*Customized Scaffolding*/
$text-color: #388697;
$body-bg: #D8E2DC;
$link-color: #DD7373;
$link-hover-decoration: none;

.left {
  float: left;
}
.right {
  float: right;
}

.navbar-right {
  padding-right: 20px;
}

ul li {
  list-style: none;
}

/*Forms*/
.form-group {
  width: 50%;
  margin: 160px auto;
  font-family: 'Gruppo', Helvetica, sans-serif;
  font-weight: bold;
}
input.form-control {
  width: 75%;
}
$input-bg: #FEFFFE;
$input-border-focus: #DD7373;

/*Buttons*/
$btn-default-color: #DD7373;
.btn {
  height: 33.99px;
}

/*Customized Carousel*/
#candidateCarousel {
  margin-top: 160px;
}
.stats {
  border-top: 4px double $blue;
}
article {
  font-size: 1.4em;
  // line-height: 39.96px;
  vertical-align: center;
}
.carousel-control {
  height: 239.76px;
}
// Not working:
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(56, 134, 151, .5) 0%), color-stop(rgba(56, 134, 151, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(56, 134, 151, .5) 0%, rgba(56, 134, 151, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  line-height: 239.76px;
  vertical-align: center;
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(56, 134, 151, .0001) 0%), color-stop(rgba(56, 134, 151, .5) 100%));
  background-image:         linear-gradient(to right, rgba(56, 134, 151, .0001) 0%, rgba(56, 134, 151, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
  line-height: 239.76px;
  vertical-align: center;
}





/* Cleanliness is next to Godliness: Bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";